@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
label {
    display: block;
}

input, textarea {
    display: block;
    width: 50%;
    margin-bottom: 1.3em;
    padding: 1em;
}

.err {
    margin-top: -1.3em;
    background: #ffff99; /* light yellow */
    color: red;
    padding: 0.5em;
    display: inline-block;
    margin-bottom: 1.3em;
}

.finalresults {
    text-align:center;
    width: 15rem;
    margin-top: 3em;
    border: 1px solid #0D6EFD;
}

.finalresults p{
    font-size: 15px;
}

.finalresults span{
    font-weight: bold;
}

.btnsub {
    background-color: #0D6EFD; /* mix of purple blue */
    color: white;
    font-weight: bold;
    border: transparent;
    border-radius: 5px;
    padding: 1em;
}

h1{
    text-align: left;
    font-size: 38px;
    font-family: 'Shadows Into Light', cursive;
    margin-top: 30px;
    margin-left: 350px;
}

.submitresult{
    background-color: #0d6dfd9a;
    font-size: 18px;
}