<div class="container">
    <h1>Welcome to Sabrina's E-commerce Website</h1>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1581414211938-e772a180c7ab?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1032&q=80" class="d-block w-100" alt="first_image">
            <div class="carousel-caption d-none d-md-block">
                <h5>Sabrina's E-commerce Website</h5>
                <p>This website is created for CCSF CNIT 133A Class</p>
              </div>
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1587380341844-80d936b297a9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=871&q=80" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>This website contains Products page.</h5>
                <p>Nevgating through products page to check the details of each product</p>
              </div>
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1512626120412-faf41adb4874?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>This website contains Contact page.</h5>
                <p>Leaving a contact information for us, let we know how we did</p>
              </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>